.logo {
  margin: 24px;
}

.main {
  display: flex;
  justify-content: space-between;

  height: 70vh;

  margin-top: 3%;

  .filter-list {
    width: 25%;
  }

  .code-bin {
    width: 70%;
    margin-right: 3%;
  }
}
